body {
    margin: 0px;
    text-align: center;
}

.nav {
    background: #343a40;
    padding: 0.5rem;
    text-align: left;
}

#start {
    background: #fff;
    border-radius: 0.20rem;
    color: #343a40;
    padding: 0.10rem 0.25rem;
    text-decoration: none;
    outline: none;
}

.options {
    margin-top: 1rem;
}

#inputOption {
    font-size: 1rem;
}