body {
    margin: 0px;
    text-align: center;
}

.nav {
    background: #343a40;
    padding: 0.5rem;
    text-align: left;
}

#home {
    background: #fff;
    border-radius: 0.20rem;
    color: #343a40;
    padding: 0.10rem 0.25rem;
    text-decoration: none;
    outline: none;
}

#card {
    background: #343a40;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
}

#card::selection {
    background: #fff;
    color: #343a40;
}

#card img {
    height: 3rem;
    width: auto;
}

#userInput {
    border: none;
    color: #343a40;
    font-size: 1.5rem;
    margin-top: 1rem;
    outline: none;
    text-align: center;
    width: 90%;
}

#userInput::selection {
    background: #343a40;
    color: #fff;
}

#userInput:disabled {
    background: none;
}